.container {
  padding: 0px 1rem;
  max-width: 900px;
  margin: 0 auto;

  @include sm {
    padding: 0px 2rem;
  }

  @include md {
    padding: 3rem;
  }

  &__content {
    display: flex;
    gap: 2rem;
  }

  &__row-line {
    margin: 1rem 0;
  }

  &__copyright {
    display: block;
    width: 100%;
    text-align: center;
  }
}
